// start-about
.about {
	// .about__wrapper
	&__wrapper {
		padding: 90px 0;
		overflow: hidden;
		@media (max-width: 767.98px) {
			padding: 50px 0;
		};
	}
	// .about__content
	&__content {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@media (max-width: 767.98px) {
			display: block;
		};
	}
	// .about__body
	&__body {
		max-width: 40%;
		@media (max-width: 767.98px) {
			width: 100%;
			max-width: 100%;
			text-align: center;
		};
	}
	// .about__title
	&__title {
		color: #383738;
		position: relative;
		& span {
			display: block;
		}
		&:before {
			position:absolute;
			content: "";
			bottom: -40px;
			left:0;
			width: 206px;
			height: 8px;
			background-color: #fc9e20;
			@media (max-width: 600px) {
				bottom: -20px;
				height: 6px;
			};
		}
		@media (max-width: 767.98px) {
			max-width: 400px;
			text-align: left;
			margin-left: 35px;
		};
		@media (max-width: 600px) {
			font-size: 40px;
		};
	}
	// .about__text
	&__text {
		color: #040404;
		margin: 80px 0 40px;
		max-height: 350px;
		overflow-y: auto;
		@media (max-width: 600px) {
			font-size: 20px;
			line-height: 35px;
			padding: 0 15px;
			margin: 30px 0 40px;
		};
	}
	// .about__images
	&__images {
		position: relative;
		margin: -200px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		flex-direction: column-reverse;
		@media (max-width: 767.98px) {
			transform: translateY(20%);
			margin: 0;
			width: 680px;
			max-height: 550px;
			width: 100%;
		};
	}
// .about__image-box-1
	&__image-box-1 {
		position: relative;
		&:before {
			position:absolute;
			content: "";
			top: -85%;
			left: -49%;
			background-image: url('../../images/rectangle45deg-2.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			width: 650px;
			height: 650px;
			opacity: 0.5;
			@media (max-width: 860px) {
				top: -100%;
				left: -34%;
			};
			@media (max-width: 767.98px) {
				display: none;
			};
		}
		@media (max-width: 767.98px) {
			transform: translateY(-47%);
			margin: 0 25%;
			max-width: 350px;
		};
	}
	&__image-box-2, 
	&__image-box-3, 
	&__image-box-4 {
		position: absolute;
		@media (max-width: 767.98px) {
			position: static;
		};
	}
	// .about__image-wrap
	&__image-wrap {
		display: flex;
	}
	&__image-box-2 {
		top: -55%;
		right: -55%;
		@media (max-width: 767.98px) {
			transform: translateX(-10px);
		};
	}
	&__image-box-3 {
		top: 55%;
		right: 55%;
		@media (max-width: 991.98px) {
			display: none;
		};
	}
	&__image-box-4 {
		bottom: -55%;
		right: -55%;
		@media (max-width: 767.98px) {
			transform: translateX(10px);
		};
	}
	&__image-frame {
		width: 560px;
		height: 560px;
		@media (max-width: 767.98px) {
			max-width: 350px;
			max-height: 350px;
			width: 100%;
			height: 100%;
		};
	}
}
// end-about
//start-rent
.rent {
	// .rent__wrapper
	&__wrapper {
		background-color: #2f2f2f;
		padding: 93px 0;
		@media (max-width: 1050px) {
			padding: 50px 0;
		};
	}
	// .rent__body
	&__body {
		display: flex;
		@media (max-width: 1050px) {
			display: block;
		};
	}
	// .rent__discription-cont
	&__discription-cont {
		flex: 1 0 auto;
		max-width: 400px;
		@media (max-width: 1050px) {
			max-width: 100%;
			
		};
	}
	// .rent__discription
	&__discription {
		min-width: 45%;
		display: flex;
		flex-direction: column;
	}
	// .rent__title
	&__title {
		color: #fff;
		position: relative;
		& span {
			display: block;
		}
		&:before {
			position:absolute;
			content: "";
			bottom: -40px;
			left:0;
			width: 206px;
			height: 8px;
			background-color: #fc9e20;
			@media (max-width: 600px) {
				bottom: -20px;
				height: 6px;
			};
		}
		@media (max-width: 1050px) {
			margin-left: 35px;
		};
		@media (max-width: 600px) {
			font-size: 40px;
		};
	}
	// .rent__text
	&__text {
		color: #fff;
		margin: 80px 0 40px;
		@media (max-width: 1050px) {
			text-align: center;
		};
		@media (max-width: 600px) {
			font-size: 20px;
			line-height: 35px;
			padding: 0px 15px;
			margin: 30px 0 40px;
		};
	}
	// .rent__link
	&__link {
		margin-bottom: 20px;
		@media (max-width: 1050px) {
			margin: 0 auto;
		};
	}
	// .rent__peoples
	&__peoples {
		display: flex;
		margin: -25px;
		flex-wrap: wrap;
		max-width: 900px;
		flex: 0 1 55%;
		min-width: calc(55% + ((100vw - 1170px) / 2));
		@media (max-width: 1050px) {
			justify-content: center;
			padding-top: 40px;
			flex: 0 0 auto;
			margin: 0 auto;
		};
	}
	// .rent__item
	&__item {
		text-align: center;
		margin: 25px;
		max-width: 280px;
		transform: scale(1);
		transition-duration: 0.5s;
		opacity: 1;
		@media (min-width: 991.98px) {
			&:hover {
				transform: scale(1.025);
				opacity: 0.8;
				transition-duration: 0.5s;
			}
		};
	}
	// .rent__image
	&__image {
		max-width: 230px;
		max-height: 225px;
		& source, img {
			width: 100%;
			height: 100%;
			width: 230px;
			height: 225px;
			object-fit: cover;
			object-position:center;
		}
	}
	&__name, 
	&__profession {
		display: block;
	}
	// .rent__name
	&__name {
		color: #fc9e20;
		font-family: Roboto;
		font-size: 25px;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: 0.61px;
		margin-top: 20px;
	}
	// .rent__profession
	&__profession {
		color: #a3a3a3;
		font-family: Roboto;
		font-size: 20px;
		font-weight: 300;
		line-height: 30px;
		letter-spacing: 0.5px;
		max-width: 200px;
		margin: 0 auto;
	}
}
//end-rent
//start-training
.training {
	// .training__inner
	&__inner {
		display: flex;
		justify-content: space-between;
		padding: 134px 0;
		@media (max-width: 991.98px) {
			display: block;
			padding: 50px 0;
		};
	}
	// .training__discription
	&__discription {
		max-width: 350px;
		@media (max-width: 991.98px) {
			max-width: 100%;
			text-align: center;
		};
	}
	// .training__title
	&__title {
		color: #040404;
		text-align: left;
		& span {
			display: block;
		}
		@media (max-width: 991.98px) {
			margin-left: 35px;
		};
		@media (max-width: 600px) {
			font-size: 40px;
		};
	}
	// .training__text
	&__text {
		color: #040404;
		margin: 40px 0 80px;
		max-height: 350px;
		overflow-y: auto;
		@media (max-width: 991.98px) {
			text-align: center;
		};
		@media (max-width: 600px) {
			font-size: 20px;
			line-height: 35px;
			padding: 0px 15px;
			margin: 20px 0 40px;
		};
	}
	// .training__images
	&__images {
		transform: translateY(-70px);
		@media (max-width: 991.98px) {
			transform: translateY(0);
			padding-top: 40px;
		};
	}
	// .training__box
	&__box {
		position: relative;
		max-width: 100%;
		max-width: 573px;
		max-height: 386px;
		@media (max-width: 991.98px) {
			max-height: 100%;
			max-width: 100%;
			width: 100%;
			height: 100%;
			margin: 0 auto;
		};
	}
	&__image-2, 
	&__image-3, 
	&__image-4 {
		position: absolute;
		& source, img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position:center;
		}
		@media (max-width: 991.98px) {
			position: static;
		};
	}
	// .training__image-1
	&__image-1 {
		max-width: 560px;
		max-height: 360px;
		& source, img {
			max-width: 100%;
			max-height: 100%;
			object-fit: cover;
			object-position:center;
		}
	}
	// .training__image-2
	&__image-2 {
		max-width: 343px;
		max-height: 347px;
		bottom: -100%;
		right: 0;
		& source, img {
			width: 343px;
			height: 347px;
		}
	}
	&__item-2 {
		// outline: 1px solid red;
		display: flex;
		flex-direction: column;
	}
	&__image-1 {
		margin-bottom: 10px;
	}
	&__image-1, 
	&__image-2 {
		@media (max-width: 991.98px) {
			width: 100%;
			height: 100%;
			& source, img {
				width: 100%;
				height: 100%;
				max-width: 350px;
				max-height: 350px;
				object-fit: cover;
				object-position:center;
			}
		}
	}
	// .training__image-3
	&__image-3 {
		max-width: 325px;
		max-height: 195px;
		right: -340px;
		top: 0;
		& source, img {
			width: 325px;
			height: 195px;
		}
		@media (max-width: 991.98px) {
			width: 100%;
			height: 100%;
			& source, img {
				width: 100%;
				height: 100%;
				max-width: 700px;
				max-height: 460px;
				object-fit: cover;
				object-position:center;
			}
		}
	}
	// .training__image-4
	&__image-4 {
		max-width: 343px;
		max-height: 478px;
		right: -360px;
		top: 58%;
		& source, img {
			width: 343px;
			height: 478px;
			object-fit: cover;
			object-position:center;
		}
		@media (max-width: 991.98px) {
			width: 100%;
			max-width: 100%;
			max-height: 450px;
			& source, img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position:center;
			}
		}
	}
	// .training__item-1
	&__item-1 {
		display: flex;
		justify-content: space-between;
		margin-bottom: 10px;
	}
	// .training__item-2
	&__item-2 {
		margin-right: 10px;
	}
}
//end-training
//start-choose
.choose {
	background-color: #2f2f2f;
	// .choose__wrapper
	&__wrapper {
		padding: 93px 0;
		@media (min-width: 991.98px) {
			display: flex;
			flex-direction:row-reverse;
		};
		@media (max-width: 991.98px) {
			padding: 50px 0;
		};
	}
	// .choose__picture
	&__picture {
		flex: 0 0 60%;
		min-width: calc(60% + ((100vw - 1170px) / 2));
		@media (max-width: 1200px) {
			flex: 0 0 50%;
			min-width: calc(65% + ((100vw - 1170px) / 2));
		};
		@media (max-width: 991.98px) {
			margin-top: 50px;
		};
	}
	// .choose__image
	&__image {
		& source, img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position:center;
		}
	}
	// .choose__info
	&__info {
		min-width: 40%;
		padding-left: 65px;
		@media (max-width: 1200px) {
			min-width: 50%;
		};
		@media (max-width: 991.98px) {
			padding-left: 50px;
		};
		@media (max-width: 467.98px) {
			padding-left: 0;
		};
	}
	// .choose__title
	&__title {
		color: #fff;
		& span {
			display: block;
		}
		@media (max-width: 1200px) {
		};
		@media (max-width: 467.98px) {
			font-size: 40px;
		};
	}
	// .choose__item
	&__item {
		padding-left: 165px;
		margin-top: 70px;
		&--1, 
		&--2, 
		&--3 {
			position: relative;
			&:before {
				position:absolute;
				content: "";
				top:0;
				left: 30px;
				width: 77px;
				height: 77px;
				background-repeat: no-repeat;
				background-position: center;
				background-size: 77px 77px;
				transition-duration: 0.5s;
				@media (max-width: 764.98px) {
					left: 0;
				};
			}
		@media (min-width: 991.98px) {
			&:hover:before {
				left: 35px;
				transition-duration: 0.5s;
			}
		};
		@media (max-width: 764.98px) {
			padding-left: 130px;
		};
		@media (max-width: 467.98px) {
			padding-left: 110px;
			margin-top: 40px;
		};
	}
		// .choose__item--1
		&--1 {
			&:before {
				background-image: url('../../images/icons/office.svg');
			}
		}
		// .choose__item--2
		&--2 {
			&:before {
				background-image: url('../../images/icons/servantes.svg');
			}
		}
		// .choose__item--3
		&--3 {
			&:before {
				background-image: url('../../images/icons/bars.svg');
			}
		}
	}
	// .choose__item-title
	&__item-title {
		color: #fff;
		font-family: Roboto;
		font-size: 17px;
		font-weight: 900;
		letter-spacing: 0.42px;
		line-height: 24px;
		text-transform: uppercase;
	}
	// .choose__item-text
	&__item-text {
		color: #bfbfbf;
		font-family: Roboto;
		font-size: 16px;
		font-weight: 300;
		letter-spacing: 0.4px;
		line-height: 24px;
		max-height: 145px;
		overflow-y: auto;
	}
}
//end-choose
//start-services
.sevices {
	// .sevices__inner
	&__inner {
		position: relative;
		@media (min-width: 991.98px) {
			display: flex;
		};
	}
	// .sevices__discription
	&__discription {
		min-width: 40%;
		padding: 100px 0;
		text-align: right;
		padding-right: 165px;
		@media (max-width: 1200px) {
			padding-right: 50px;
		};
		@media (max-width: 991.98px) {
			padding: 50px 0;
			padding-right: 20px;
			text-align: center;
		};
		@media (max-width: 478.98px) {
			padding: 30px 0;
		};
	}
	// .sevices__title
	&__title {
		& span {
			display: block;
		}
		@media (max-width: 991.98px) {
			text-align: left;
			margin-left: 50px;
		};
		@media (max-width: 764.98px) {
			margin-left: 0;
		};
		@media (max-width: 478.98px) {
			font-size: 50px;
		};
	}
	// .sevices__text
	&__text {
		margin: 44px 0 73px;
		@media (max-width: 991.98px) {
			margin: 30px 0 50px;
			text-align: center;
		};
		@media (max-width: 764.98px) {
			margin: 20px 0 50px;
		};
	}
	// .sevices__picture
	&__picture {
		flex: 0 0 60%;
		min-width: calc(75% + ((100vw - 1200px) / 2));
		position: relative;
		@media (max-width: 991.98px) {
			flex: 1 1 auto;
			min-width: auto;
			width: 100%;
		};
	}
	// .sevices__image
	&__image {
		width: 100%;
		height: 100%;
		& source, img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		@media (max-width: 991.98px) {
			position: absolute;
			top: 30px;
			left: -20px;
			right: 0;
			bottom: 0;
			width: 120%;
			height: 120%;
		};
	}
	// .sevices__area
	&__area {
		position: absolute;
		top: 50%;
		left: -75px;
		transform: translateY(-50%);
		background-color: #2f2f2f;
		padding: 29px 50px;
		justify-content: center;
		max-width: 900px;
		@media (max-width: 1200px) {
			left: -25px;
		};
		@media (max-width: 991.98px) {
			position: static;
			transform: translateY(0);
			max-width: auto;
			width: 100%;
			margin: 0 auto;
			margin-bottom: 50px;
			padding: 20px 0px;
		};
		@media (max-width: 646px) {
			display: block;
			max-width: 400px;
		};
	}
	// .sevices__box
	&__box {
		display: flex;
		justify-content: center;
		@media (max-width: 646px) {
			display: block;
			width: auto;
		};
	}
	// .sevices__item
	&__item {
		margin: 36px 43px;
		// outline: 1px solid red;
		@media (max-width: 646px) {
			max-width: 290px;
			margin: 0 auto;
			padding: 30px 0;
		};
	}
	// .sevices__card
	&__card {
		display: flex;
		flex-direction: column;
		align-items: center;
		text-align: center;
		max-width: 290px;
		@media (max-width: 646px) {
			max-width: 100%;
		};
	}
	// .sevices__card-icon
	&__card-icon {
		width: 85px;
		height: 85px;
		border: 3px solid #ffffff;
		border-radius: 50%;
		&--1, 
		&--2, 
		&--3, 
		&--4 {
			position: relative;
			&:before {
				content: "";
				position:absolute;
				content: "";
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 43px;
				height: 43px;
				background-image: url('../../images/icons/delivery.svg');
				background-repeat: no-repeat;
				background-position: center;
				background-size: 43px 43px;
			}
		}
		&--1 {
			&:before {
				background-image: url('../../images/icons/time.svg');
				background-size: 43px 43px;
			}
		}
		&--2 {
			&:before {
				background-image: url('../../images/icons/diagnostics.svg');
				background-size: 43px 43px;
			}
		}
		&--3 {
			&:before {
				background-image: url('../../images/icons/substitution.svg');
				background-size: 43px 43px;
			}
		}
		&--4 {
			&:before {
				background-image: url('../../images/icons/delivery.svg');
				background-size: 43px 43px;
			}
		}
	}
	// .sevices__card-title
	&__card-title {
		color: #fba419;
		font-family: Roboto;
		font-size: 17px;
		font-weight: 900;
		letter-spacing: 0.42px;
		line-height: 24px;
		text-transform: uppercase;
		margin: 33px 0 15px;
	}
	// .sevices__card-text
	&__card-text {
		color: #bfbfbf;
		font-family: Roboto;
		font-size: 17px;
		font-weight: 400;
		letter-spacing: 0.42px;
		line-height: 24px;
		flex-wrap: 1 1 auto;
		max-height: 80px;
		overflow-y: auto;
	}
}
//end-services
//start-clients
.clients {
	// .clients__inner
	&__inner {
		position: relative;
		display: flex;
		max-height: 1000px;
		@media (max-width: 1030px) {
			display: block;
			max-height: 100%;
			height: 100%;
		};
	}
	// .clients__reviews
	&__reviews {
		flex: 0 1 33.333%;
		background-color: #2f2f2f;
		padding: 130px 0 130px 20px;
		padding-right: 35px;
		@media (max-width: 1400px) {
			flex: 0 1 50%;
			padding-right: 100px;
		};
		@media (max-width: 1030px) {
			display: block;
			padding: 50px 0;
			flex: 1 1 auto;
		};
	}
	// .clients__title
	&__title {
		max-width: 400px;
		margin-left: auto;
		margin-right: 0;
		color: #fff;
		margin-bottom: 75px;
		& span {
			display: block;
		}
		@media (max-width: 1030px) {
			margin-left: 100px;
			margin-right: auto;
		};
		@media (max-width: 700px) {
			margin-left: 50px;
			margin-right: auto;
		};
		@media (max-width: 474px) {
			font-size: 50px;
			margin-bottom: 40px;
		};
	}
	// .clients__reviews-wrapper
	&__reviews-wrapper {
		width: 100%;
		overflow: hidden;
		max-width: 400px;
		margin-left: auto;
		margin-right: 0;
		position: relative;
		@media (max-width: 1030px) {
			margin-left: 50px;
			margin-right: auto;
			display: inline-block;
		};
		@media (max-width: 950px) {
			display: block;
		};
		&--1 {
			margin-bottom: 100px;
			@media (max-width: 1030px) {
				margin-bottom: 0;
			};
			@media (max-width: 950px) {
				margin-left: 15%;
				margin-right: auto;
			};
		}
		&--2 {
			@media (max-width: 950px) {
				margin-left: auto;
				margin-right: 15%;
				padding-top: 40px; 
			};
		}
		&--1, 
		&--2 {
			@media (max-width: 567px) {
				margin: 0 auto;
			};
		}
	}
	// .clients__reviews-container
	&__reviews-container {
		width: 100%;
		height: 100%;
		display: flex;
	}
	// .clients__review
	&__review {
		flex-shrink: 0;
		padding-left: 50px;
		position: relative;
		&:before {
			position:absolute;
			content: "";
			top:0;
			left:0;
			width: 40px;
			height: 26px;
			background-image: url('../../images/quotation-marks.svg');
			background-repeat: no-repeat;
			background-position: center;
			background-size: 40px 26px;
			fill: #fff;
		}
	}
	// .clients__review-text
	&__review-text {
		color: #bfbfbf;
		font-family: Roboto;
		font-size: 16px;
		font-weight: 300;
		letter-spacing: 0.4px;
		line-height: 20px;
	}
	// .clients__review-name
	&__review-name {
		color: #ffffff;
		font-family: Roboto;
		font-size: 17px;
		font-weight: 900;
		letter-spacing: 0.42px;
		line-height: 24px;
		text-transform: uppercase;
		margin-top: 30px;
	}
	// .clients__images
	&__images {
		flex: 1 1 33.333%;
		max-width: 533px;
		@media (max-width: 1400px) {
			position: absolute;
			flex: 1 1 auto;
			max-width: 250px;
			top: 30px;
			left: 50%;
			transform: translateX(-50%);
			z-index: 5;
		};
		@media (max-width: 1030px) {
			position: static;
			transform: translateX(0);
			max-width: 100%;
			width: 100%;
		};
	}
	// .clients__images-wrapper
	&__images-wrapper {
		width: 100%;
		height: 100%;
		overflow: hidden;
	}
	// .clients__images-container
	&__images-container {
		display: flex;
		width: 100%;
		height: 100%;
	}
	// .clients__picture
	&__picture {
		flex-shrink: 0;
		width: 100%;
		height: 100%;
		@media (max-width: 1400px) {
			width: 250px;
			height: 250px;
			border-radius: 50%;
		};
		@media (max-width: 1030px) {
			width: 100%;
			max-width: 100%;
			height: 300px;
			border-radius: 0;
		};
		& source, img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
			@media (max-width: 1400px) {
				max-width: 250px;
				max-height: 250px;
				border-radius: 50%;
			};
			@media (max-width: 1030px) {
				width: 100%;
				max-width: 100%;
				max-height: 100%;
				height: 300px;
				border-radius: 0;
			};
		}
	}
	// .clients__image
	&__image {
		width: 100%;
		height: 100%;
	}
	// .clients__discription
	&__discription {
		flex: 1 1 33.333%;
		padding: 130px 0 130px 100px;
		text-align: center;
		background-color: #fff;
		@media (max-width: 1400px) {
			flex: 0 1 50%;
		};
		@media (max-width: 1030px) {
			flex: 1 1 100%;
			padding: 30px 0;
		};
	}
	// .clients__discription-inner
	&__discription-inner {
		max-width: 280px;
		margin-left: 0;
		margin-right: auto;
		width: 100%;
		overflow: hidden;
		@media (max-width: 1030px) {
			max-width: 100%;
			margin: 0 auto;
		};
	}
	// .clients__discription-container
	&__discription-container {
		display: flex;
		width: 100%;
	}
	// .clients__discription-slide
	&__discription-slide {
		flex-shrink: 0;
		@media (max-width: 1030px) {
			overflow: hidden;
		};
	}
	// .clients__text
	&__text {
		margin: 54px 0 44px;
		max-height: 530px;
		overflow: auto;
		@media (max-width: 1030px) {
			max-width: 800px;
			margin: 0 auto;
			padding: 35px 15px;
		};
		@media (max-width: 474px) {
			font-size: 18px;
			padding: 0 15px;
		};
	}
	// .clients__name
	&__name {
		color: #2f2f2f;
		font-family: Roboto;
		font-size: 17px;
		font-weight: 900;
		line-height: 24px;
		text-transform: uppercase;
	}
	// .clients__pagination
	&__pagination {
		position: relative;
		z-index: 10;
		margin-top: 100px;
		.swiper-pagination-bullet {
			width: 25px;
			height: 25px;
			background-color: #e18e23;
			margin: 10px; 
		}
		@media (max-width: 1030px) {
			margin-top: 50px;
		};
	}
	&__images, 
	&__discription, 
	&__reviews {
		position: relative;
		&:before {
			position:absolute;
			content: "";
			top:0;
			left:0;
			right: 0;
			bottom: 0;
			width: 100%;
			height: 100%;
			z-index: 5;
		}
	}
}

.slider-wrapper {
	width: 100%;
	overflow: hidden;
}
.slider-container {
	width: 100%;
	height: 100%;
	display: flex;
}
.slider-slide {
	flex-shrink: 0;
}
//end-clients
//start-get
.get {
	// .get__wrapper
	&__wrapper {
		padding: 90px 0;
		background-color: grey;
		background-image: url('../../images/07.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-size: cover;
		text-align: center;
		@media (max-width: 764px) {
			padding: 50px 0;
		};
	}
	// .get__title
	&__title {
		color: #fff;
		@media (max-width: 370px) {
			padding: 50px 0;
			font-size: 55px;
		};
	}
}
//end-get